<div class="row" id="login">
  <div class="col-md-offset-5 ">
    <h1>Login</h1>

    <%= form_for(:session, url: login_path) do |f|  %>
      
      <%= f.label :email %><br>
      <%= f.email_field :email %><br>

      <%= f.label :password %><br>
      <%= f.password_field :password %><br>

      <%= f.label :remember_me do %>
        <%= f.check_box :remember_me %>
        <span>Keep me logged in</span>
      <% end %>

      <%= f.submit "submit", class: "btn" %><br>

    <% end %>
  </div>
</div>
