<h1>edit project</h1>

<%= form_for @project do |f| %>
  <%= render 'layouts/error_messages', object: f.object %>
  
  <%= f.label :name, "project name" %><br>
  <%= f.text_field :name %><br>
  
  <%= f.label :purpose, "purpose" %><br>
  <%= f.text_field :purpose %><br>

  <%= f.submit "submit", class: "btn" %>
<% end %>
