<h1>プロジェクト編集</h1>

<%= form_for @project do |f| %>
  <%= f.label :name, "プロジェクト名" %><br>
  <%= f.text_field :name %><br>
  
  <%= f.label :purpose, "使用目的" %><br>
  <%= f.text_field :purpose %><br>

  <%= f.submit "決定" %>
<% end %>
