<div class="col-md-9 col-sm-12" id="todo">
  <h1> <%= "#{@project.name} project's" %> todo list</h1>

  <%= form_for @project.todos.build do |f| %>
    <%= f.label :content, "todo" %>:
    <%= f.text_field :content %>&nbsp&nbsp

    <%= f.label :todo_date, "date"%>:
    <%= f.date_select :todo_date %>&nbsp&nbsp

    <%= f.label :todo_time, "time" %>:
    <%= f.time_select :todo_time %>&nbsp&nbsp

    <%= hidden_field_tag :project_id, @project.id %>

    <%= f.submit "submit", class: "btn btn-primary" %>
  <% end %>
  <ul>
    <% @project.todos.each do |todo| %>
      <% if !todo.id.nil? %>
        <li>
          <%= todo.content %> /
          <%= todo.todo_date %> /
          <%= todo.todo_time.hour %>時<%= todo.todo_time.min %>分
          <%= link_to "", edit_todo_path(todo.id), class: "glyphicon glyphicon-pencil" %>
          <%= link_to "", todo_path(todo.id), class: "glyphicon glyphicon-remove",
      method: :delete , data: {confirm: "Delete todo:【#{todo.content}】 Are you sure？"} %>
      </li>
    <% end %>
  <% end %>
  </ul>
</div>
